@import url('https://fonts.googleapis.com');

:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--Grey-900);
    display: grid;
    place-items: center;
    font-family: 'Inter', sans-serif;
    color: var(--White);
    width: 100%;
    max-width: 375px;
    margin: auto;
    padding: 20px;
    height: 100vh;
}
@media (min-width: 992px) {
    body{
        max-width: 1440px;
        padding: 0 20px;
    }
}
main{
    background-color: var(--Grey-700);
    width: 100%;
    max-width: 375px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
}
main>.profile{
    text-align: center;
    padding: auto;
}
main>.profile>section{
    margin: 0;
    padding: 15px 0;
}
main>.profile>.pr-img>img{
    width: 30%;
    height: 30%;
    border-radius: 50%;
}
main>.profile>.pr-details>h1{
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 5px;
    
}
main>.profile>.pr-details>p{
    font-weight: 600;
    font-size: 14px;
}
main>.profile>.pr-details>#location{
    margin: 5px 0;
    color: var(--Green);
}
main>.profile>.skill{
    padding: 10px;
}
main>.profile>.skill>p{
    font-weight: 400;
    font-size: 14px;
}
main>.links>ul{
    padding-left: 0;
    margin-left: 0;
}
main>.links>ul>li{
    line-height: 3rem;
    text-align: center;
    background-color: #555;
    margin-top: 14px;
    list-style-type: none;
    border-radius: 8px;
}
main>.links>ul>li:hover{
    background-color: var(--Green);
    color: #000;
    cursor: pointer;
}
main>.links>ul>li:hover a{
    color: var(--Grey-700);
}
main>.links>ul>li>a{
   text-decoration: none;
   font-weight: 600;
   color: var(--White);
   transition: color 0.3s ease;
}
